## Deliverable 3. Create a Travel Itinerary Map.

In [28]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Arraial Do Cabo,BR,75.16,clear sky,-22.9661,-42.0278,Pousada Porto Praia
1,7,Malanje,AO,79.83,broken clouds,-9.5402,16.3410,Hotel Ginga
2,8,Georgetown,MY,84.13,scattered clouds,5.4112,100.3354,Cititel Penang
3,12,Faanui,PF,80.42,clear sky,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
4,15,Micheweni,TZ,77.59,broken clouds,-4.9667,39.8333,NaN

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [8]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == "Rincon"]
vacation_end = vacation_df.loc[vacation_df['City'] == "Rincon"]
vacation_stop1 = vacation_df.loc[vacation_df['City'] == "Avera"]
vacation_stop2 = vacation_df.loc[vacation_df['City'] == "Dillon"] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == "Elizabeth City"]
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
109,302,Rincon,US,89.91,broken clouds,32.296,-81.2354,Days Inn Rincon

In [46]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[{"Lat","Lng"}].to_numpy()
end = vacation_end[{"Lat","Lng"}].to_numpy()
stop1 = vacation_stop1[{"Lat","Lng"}].to_numpy()
stop2 = vacation_stop2[{"Lat","Lng"}].to_numpy()
stop3 = vacation_stop3[{"Lat","Lng"}].to_numpy()

In [49]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
leg1 = gmaps.directions_layer(start[0], end[0], waypoints=[stop1[0],stop2[0],stop3[0]], travel_mode="BICYCLING")

fig.add_layer(leg1)


fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,302,Rincon,US,89.91,broken clouds,32.2960,-81.2354,Days Inn Rincon
1,91,Avera,US,87.85,few clouds,33.1940,-82.5271,NaN
2,626,Dillon,US,87.78,scattered clouds,34.4166,-79.3712,Dillon Express Inn
3,146,Elizabeth City,US,78.80,broken clouds,36.2946,-76.2511,Hampton Inn Elizabeth City
4,302,Rincon,US,89.91,broken clouds,32.2960,-81.2354,Days Inn Rincon

In [58]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [60]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)


# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))